<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-action span12' } %>
    </div>
    <div class="form-group">
    <%= f.input :content, input_html: { class: 'form-action span12 ckeditor', rows: 10,  } %>
    </div>
    <div class="form-group">
    <%= f.input :author, input_html: { class: 'form-action span6' } %>
    </div>
    <div class="form-group">
    <%= f.input :publish %>
  </div>


    <%= f.button :submit %>
 
<% end %>
