

      <!-- Static navbar -->
      <div class="navbar navbar-fixed-bottom">
        <div class="container-fluid"><div class="row-fluid">

          
            <ul class="nav navbar-nav">
              <li class="active"><a id="title" href="/"><i class="icon-home"></i></a></li>
              <li><%= link_to "Personal Training", personal_training_path %></a></li>
              <li><%= link_to "Group Fitness", group_fitness_path %></li>
              <li><%= link_to "Blog", blog_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
              <li><%= link_to "About", about_path %></li>
              
              <li class="tiny"><a href="#" data-toggle="tooltip" title="© Studio Evolution Fitness"> &copy 2013</a></li>
              <li class="tiny"><a href="http://thecoderfactory.com" target="_blank" data-toggle="tooltip" title="Created by The Coder Factory"> The Coder Factory</a></li>
              
            </ul>

      </div></div></div>