<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Studio" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Studio" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    
  <style type="text/css">

          body{
              background: #444;
              margin:0;
          }

         /* #content{
              color:white;
              font:40px/40px Calibri;
              text-align:left;
              padding-top:200px;
              text-shadow:#666666 2px 2px 4px;
              margin-left:100px;
          }*/

          .movie{
              display:none;
          }

          .dida{
              position:fixed;
              bottom:0;
              font: 12px/14px Arial, sans-serif;
              color:white;
              padding:10px;
          }

          button{
              display:block;
              background:transparent;
              border:none;
              color:white;
              font-size:18px;
              cursor:pointer;
          }

          button.command{
              display:inline-block;
          }

          button:hover, button.sel{
              color: #ffcc00;
          }

      </style>
      <script type="text/javascript">

              jQuery(function(){

                  jQuery("button").not(".command").click(function(){
                      jQuery("button").not(".command").removeClass("sel");
                      jQuery(this).addClass("sel");
                  });

                  //debug functions
                  jQuery("#bgndVideo").on("YTPStart", function(){ jQuery("#eventListener").html("YTPStart")});
                  jQuery("#bgndVideo").on("YTPEnd", function(){ jQuery("#eventListener").html("YTPEnd")});
                  jQuery("#bgndVideo").on("YTPPause", function(){ jQuery("#eventListener").html("YTPPause")});
                  jQuery("#bgndVideo").on("YTPBuffering", function(){ jQuery("#eventListener").html("YTPBuffering")});

                  jQuery("#bgndVideo").mb_YTPlayer();

              });

          </script>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
  <div id="content">
    <div class="console">
              <%= yield %>
            </div>
         
              <a id="bgndVideo" href="http://www.youtube.com/watch?v=Qdr0SsCm1Ao" class="movie {opacity:1, isBgndMovie:{width:'window',mute:false}, optimizeDisplay:true, showControls:true, loop: false, vol:20, quality:'highdef',addRaster:true, lightCrop:true}"></a>
  </div>
  </body>
</html>
