<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Studio" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Studio" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    
  <style type="text/css">

          body{
              background: #000;
              margin:0;
          }

         /* #content{
              color:white;
              font:40px/40px Calibri;
              text-align:left;
              padding-top:200px;
              text-shadow:#666666 2px 2px 4px;
              margin-left:100px;
          }*/

          .movie{
              display:none;
          }

          .dida{
              position:fixed;
              bottom:0;
              font: 12px/14px Arial, sans-serif;
              color:white;
              padding:10px;
          }

          button{
              display:block;
              background:transparent;
              border:none;
              color:black;
              font-size:18px;
              cursor:pointer;
          }

          button.command{
              display:inline-block;
          }

          button:hover, button.sel{
              color: #ffcc00;
          }

      </style>
      <script type="text/javascript">

              jQuery(function(){

                  var videos = [
                      {videoURL:"xip3YjSTZlU",containment:'body',autoPlay:true, mute:false, startAt:0, opacity:1, loop:false, ratio:"4/3", addRaster:true, quality:"large"},
                      {videoURL: "3ovA7zeviRo",containment:'body',autoPlay:true, mute:true, startAt:10, stopAt:0, opacity:1, loop:false, ratio:"4/3", addRaster:false, quality:"large"},
                      {videoURL: "u9k1FaMIYTs",containment:'body',autoPlay:true, mute:false, startAt:0, opacity:1, loop:false, ratio:"4/3", addRaster:true, quality:"large"}
                  ];

                  jQuery("#bgndVideo").YTPlaylist(videos, false, function(video){
                      if(video.videoData){
                          jQuery("#videoID").html(video.videoData.id);
                          jQuery("#videoTitle").html(video.videoData.title);
                          jQuery("#videoDuration").html(jQuery.mbYTPlayer.formatTime(video.videoData.duration));
                          jQuery("#viewCount").html(video.videoData.viewCount);
                      }
                  });

              });

          </script>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
  <div id="content">
    <div class="console">
    <%= render 'layouts/navigation' %>
              <%= yield %>
            </div>
              <a class="player" id="bgndVideo" ></a>
              
  <%= render 'layouts/footer' %>
  </div>
  </body>
</html>
